.inicio{
	padding: 80px 0px;
	background-image: url(../img/03162d199d16ccd848e958fd88185fc8--seamless-background-kitchen-appliances.jpg);
	height: 700px;
}
.titulo{
	font-size: 40px;
	font-weight: bolder;
	padding: 30px;
}
.color{
	padding: 50px;
	background-color: #FAF0E6;
}
.rayita{
	border-bottom:2px solid #ff1744;
}
.rojo{
	background-color: white;
	color:#ee6e73;
	border: 1px solid #ee6e73 ;
}
.
.filled-in-box{
	width: 5%;
}
.basurero{
	font-size: 30px;
	margin-left: 350px;
	color:#ff1744;
}
.borde{
	border-bottom: 2px solid #ff1744;
}